<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Trang chủ</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Đường link cũ  -->
    <link rel="stylesheet" href="../assets/css/style_trangchu.css" />
    <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Favicons -->
    <!-- <link href="../assets/img/favicon.png" rel="icon"> -->
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../assets/css/st.css" />
</head>

<body>
    <!-- End Header -->
    <div class="containerfull">
        <img src="../assets/img/banner1.webp" alt="" width="100%" height="400px" />
    </div>
    <div class="hh">
        <caption>
            <h1>Kì thi tốt nghiệp</h1>
        </caption>

        <div class="dapan">
            <div class="p-sidebarWrapper">
                <div class="p-body-sidebar">
                    <div data-xf-init="sticky" data-parent=".p-body-sidebar">
                        <div class="block">
                            <div class="block-container">
                                <h3 class="block-minorHeader">Bài Làm</h3>
                                <div class="block-row">
                                    <div class="zeQuickNavItems js-ze-quickNav" data-xf-init="exam-quick-nav">
                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234758">
                                            <div class="zeQuickNavItem-text">1</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234759">
                                            <div class="zeQuickNavItem-text">2</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234760">
                                            <div class="zeQuickNavItem-text">3</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234761">
                                            <div class="zeQuickNavItem-text">4</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234762">
                                            <div class="zeQuickNavItem-text">5</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234763">
                                            <div class="zeQuickNavItem-text">6</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234764">
                                            <div class="zeQuickNavItem-text">7</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234765">
                                            <div class="zeQuickNavItem-text">8</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234766">
                                            <div class="zeQuickNavItem-text">9</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234767">
                                            <div class="zeQuickNavItem-text">10</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234768">
                                            <div class="zeQuickNavItem-text">11</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234769">
                                            <div class="zeQuickNavItem-text">12</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234770">
                                            <div class="zeQuickNavItem-text">13</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234771">
                                            <div class="zeQuickNavItem-text">14</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234772">
                                            <div class="zeQuickNavItem-text">15</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234773">
                                            <div class="zeQuickNavItem-text">16</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234774">
                                            <div class="zeQuickNavItem-text">17</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234775">
                                            <div class="zeQuickNavItem-text">18</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234776">
                                            <div class="zeQuickNavItem-text">19</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234777">
                                            <div class="zeQuickNavItem-text">20</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234778">
                                            <div class="zeQuickNavItem-text">21</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234779">
                                            <div class="zeQuickNavItem-text">22</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234780">
                                            <div class="zeQuickNavItem-text">23</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234781">
                                            <div class="zeQuickNavItem-text">24</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234782">
                                            <div class="zeQuickNavItem-text">25</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234783">
                                            <div class="zeQuickNavItem-text">26</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234784">
                                            <div class="zeQuickNavItem-text">27</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234785">
                                            <div class="zeQuickNavItem-text">28</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234786">
                                            <div class="zeQuickNavItem-text">29</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234787">
                                            <div class="zeQuickNavItem-text">30</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234788">
                                            <div class="zeQuickNavItem-text">31</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234789">
                                            <div class="zeQuickNavItem-text">32</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234790">
                                            <div class="zeQuickNavItem-text">33</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234791">
                                            <div class="zeQuickNavItem-text">34</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234792">
                                            <div class="zeQuickNavItem-text">35</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234793">
                                            <div class="zeQuickNavItem-text">36</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234794">
                                            <div class="zeQuickNavItem-text">37</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234795">
                                            <div class="zeQuickNavItem-text">38</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234796">
                                            <div class="zeQuickNavItem-text">39</div>
                                        </div>

                                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234797">
                                            <div class="zeQuickNavItem-text">40</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="bt">Nộp Bài</button>
                        <button type="" class="bt">Trở về</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cauhoi">

            <div class="box">
                <div class="nd">
                    <form action="#">
                        <strong><p>câu 1: 15+15=?</p></strong>
                        <input type="radio" id="age1" name="age" value="30"> A. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> B. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> C. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> D. 30 <br>
                    </form>
                </div>
                <div class="img">
                    <img src="../assets/img/toan.jpg" alt="">
                </div>
            </div>
            <div class="box">
                <div class="nd">
                    <form action="#">
                        <strong><p>câu 1: 15+15=?</p></strong>
                        <input type="radio" id="age1" name="age" value="30"> A. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> B. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> C. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> D. 30 <br>
                    </form>
                </div>
                <!--  <div class="img">
                        <img src="../assets/img/toan.jpg" alt="">
                    </div> -->
            </div>
            <div class="box">
                <div class="nd">
                    <form action="#">
                        <strong><p>câu 1: 15+15=?</p></strong>
                        <input type="radio" id="age1" name="age" value="30"> A. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> B. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> C. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> D. 30 <br>
                    </form>
                </div>
                <div class="img">
                    <img src="../assets/img/toan.jpg" alt="">
                </div>

            </div>
            <div class="box">
                <div class="nd">
                    <form action="#">
                        <strong><p>câu 1: 15+15=?</p></strong>
                        <input type="radio" id="age1" name="age" value="30"> A. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> B. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> C. 30 <br>
                        <input type="radio" id="age1" name="age" value="30"> D. 30 <br>
                    </form>
                </div>
                <div class="img">
                    <img src="../assets/img/toan.jpg" alt="">
                </div>
            </div>

        </div>
        <div class="thoigian">
            <div class="p-sidebarWrapper">
                <div class="p-body-sidebar">
                    <div data-xf-init="sticky" data-parent=".p-body-sidebar">
                        <div class="block">
                            <div class="block-container">
                                <h3 class="block-minorHeader ">Thời gian còn :</h3>
                                <div class="block-row">
                                    <div class="examCountdown examCountdown-withoutDays" data-xf-init="exam-countdown" data-form=".js-examTestForm" data-show-days="0" data-now="2023-11-21 02:59:14" data-diff="3520" data-date="2023-11-21 03:57:54">
                                        <div class="examCountdown-unit" data-unit="hours">
                                            <div class="examCountdown-unitWrap">
                                                <span class="examCountdown-unitNum">0</span>
                                                <span class="examCountdown-unitText">Giờ</span>
                                            </div>
                                        </div>
                                        <div class="examCountdown-unit" data-unit="minutes">
                                            <div class="examCountdown-unitWrap">
                                                <span class="examCountdown-unitNum">0</span>
                                                <span class="examCountdown-unitText">Phút</span>
                                            </div>
                                        </div>
                                        <div class="examCountdown-unit" data-unit="seconds">
                                            <div class="examCountdown-unitWrap">
                                                <span class="examCountdown-unitNum">0</span>
                                                <span class="examCountdown-unitText">Giây</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>